{% extends "master.html" %}
{% load static %}
{% block title %}
  Roster Spots
{% endblock %}


{% block content %}

<h2>Add a new team to Roster Spots</h2>


   
<form method="POST" enctype="multipart/form-data" action="#">
  {% csrf_token %}
  
  <div class="form-group">
    <label for="id_name">Name:</label>
    {{ form.name }}
    {% if form.name.errors %}
      <div class="text-danger">
        {{ form.name.errors }}
      </div>
    {% endif %}
  </div>

  <div class="form-group">
    <label for="id_email">City:</label>
    {{ form.city }}
    {% if form.city.errors %}
      <div class="text-danger">
        {{ form.city.errors }}
      </div>
    {% endif %}
  </div>

  <div class="form-group">
    <label for="id_message">State:</label>
    {{ form.state }}
    {% if form.state.errors %}
      <div class="text-danger">
        {{ form.state.errors }}
      </div>
    {% endif %}
  </div>

  <div class="form-group">
    <label for="id_message">Contact Name:</label>
    {{ form.contactName }}
    {% if form.contactName.errors %}
      <div class="text-danger">
        {{ form.contactName.errors }}
      </div>
    {% endif %}
  </div>

  <div class="form-group">
    <label for="id_message">Picture:</label>
    {{ form.picture }}
    {% if form.picture.errors %}
      <div class="text-danger">
        {{ form.picture.errors }}
      </div>
    {% endif %}
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>



{% endblock %}